/* Галерея изображений */
.gallery {
    padding: 50px 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

.ahah {
    display: flex;
    justify-content: center;
}

/* Изображения в галерее */
.gallery-image {
    width: 380px;
    height: 200px;
    object-fit: cover;
    cursor: pointer;
    border-radius: 5px;
    transition: transform 0.3s ease;
    transition: .3s;
}

.gallery-image:hover {
    opacity: .8;
}

/* Оверлей для карусели */
.carousel-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.slide-counter {
    color: white;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 18px;
    z-index: 1001;
    background: rgba(0, 0, 0, 0.5);
    padding: 5px 10px;
    border-radius: 5px;
}

.ahah {
    display: flex;
    justify-content: center;
}

/* Изображения в карусели */
.carousel-image {
    max-width: 80%;
    max-height: 80vh;
    object-fit: contain;
    border-radius: 10px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.5);
}

/* Кнопки навигации */
.swiper-button-prev,
.swiper-button-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1001;
    color: #ffffff;
    padding: 10px;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    font-size: 24px;
    transition: background-color 0.3s ease;
}

.swiper-button-prev {
    left: 20px;
}

.swiper-button-next {
    right: 20px;
}

/* Кнопка закрытия карусели */
.close-button {
    position: absolute;
    top: 20px;
    right: 20px;
    border: none;
    font-size: 50px;
    color: #ffffff;
    cursor: pointer;
    z-index: 1001;
    background-color: rgba(0, 0, 0, 0.5);
    transition: .3s;
}

.close-button:hover {
    opacity: .8;
}

/* Нумерация слайдов */
.swiper-pagination-fraction {
    color: white;
    position: absolute;
    bottom: 20px;
    right: 20px;
    font-size: 16px;
    z-index: 1001;
    background: rgba(0, 0, 0, 0.5);
    padding: 5px 10px;
    border-radius: 5px;
}

@media (max-width: 560px) {
    .swiper-button-prev,
    .swiper-button-next {
        display: none;
    }
}

@media (max-width: 438px) {
    .gallery {
        padding: 25px 10px;
        gap: 20px;
    }

    .gallery-image {
        width: 280px;
        height: 150px;
    }

}