.teacherdet {
    padding: 20px 10px;
}

.teacherdet-blok {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.teacherdet-blok__container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.teacherdet-blok__container img {
    width: 270px;
    height: 270px;
    object-fit: cover;
    padding: 5px;
    border: 1px solid rgb(164, 164, 164);
}

.teacherdet__title {
    font-size: 280%;
    font-family: sans-serif;
}

.teacherdet__category {
    text-align: center;
    font-family: sans-serif;
    text-decoration: underline;
}

.teacherdet__age {
    font-size: 110%;
    font-family: sans-serif;
}

.teacherdet__students {
    width: 200px;
    font-size: 160%;
    font-family: sans-serif;
}

.teacherdet-blok__container-2 p span {
    color: var(--orange-color);
    font-size: 120%;
    font-weight: bold;
}

.teachersdet__biography-container {
    display: flex;
    justify-content: end;
    gap: 10px;
}

.teacherdet__link {
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: .3s;
    color: black;
}

.teacherdet__link:hover {
    opacity: .7;
    color: var(--orange-color);
    transform: scale(1.2);
}

.teachersdet__biography {
    width: 100%;
}

.teachersdet__biography p {
    font-size: 110%;
    letter-spacing: 0.1px;
    background-color: #e8e8e8;
    padding: 10px 20px;
    border: 1px solid var(--orange-color);
}

.teachersdet__biography-h2 {
    font-size: 250%;
    border: none;
    border-bottom: 2px solid var(--orange-color);
    border-radius: 5px;
    padding-bottom: 5px;
    margin-bottom: 5px;
}

@media (max-width: 636px) {
    .teacherdet-blok__container {
        flex-direction: column;
        gap: 10px;
        text-align: center;
    }

    .teacherdet-blok__container img {
        width: 200px;
        height: 200px;
    }

    .teacherdet__title {
        font-size: 210%;
    }
}

@media (max-width: 437px) {
    .teacherdet-blok__container img {
        width: 150px;
        height: 150px;
    }
}