/* Контейнер для карусели */
.carousel {
    max-width: 700px;
    margin: 0 auto;
    padding: 0 25px 20px 25px;
    position: relative;
    margin-bottom: 10px;
}

/* Стиль для отдельного отзыва */
.testimonial {
    text-align: center;
    padding: 0 6px 20px 6px;
    border-radius: 10px; 
    transition: background-color 0.3s ease, opacity 0.5s ease; /* Добавляем плавное исчезновение */
    cursor: grab;
    opacity: 1; /* Начальная прозрачность */
}

.slick-active .testimonial {
    opacity: 1; /* Активный слайд полностью виден */
}

.slick-slide {
    opacity: 0;
    transition: opacity 0.5s ease; /* Плавное исчезновение */
}

.slick-slide.slick-active {
    opacity: 1; /* Видимый слайд */
}

/* Точки навигации */
.slick-dots li button {
    color: var(--orange-color);
}

.testimonial__img {
    width: 80px;
    height: 80px;
    margin: auto;
}

.testimonial__name {
    font-size: 220%;
    margin-bottom: 3px;
    color: rgb(181, 117, 0);
}

.testimonial__body {
    font-size: 110%;
    color: #353535;
}

/* Медиа-запросы для адаптивности */
@media (max-width: 557px) {

    .testimonial__name {
        font-size: 190%;
    }

    .testimonial__body {
        font-size: 100%;
    }
}
